<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Home</title>
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-15 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" data-th-href="@{/home}">Pitt CarTrading</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left" data-th-action="@{/carsell}" name="carsell" method="get">
                        <label > Choose a CarType Please:</label>
                        <select class="form-control" name="carType">
                            <option value="Select">--Select--</option>
                            <option value="SUV">SUV</option>
                            <option value="Truck">Truck</option>
                            <option value="SportsCar">SportsCar</option>
                            <option value="LuxuryCar">LuxuryCar</option>
                            <option value="Other">Other</option>
                        </select>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right" data-th-if="${#httpServletRequest.remoteUser}">
                        <li class="dropdown">
                            <a data-th-inline="text" class="dropdown-toggle" data-toggle="dropdown">Welcome! [[${#httpServletRequest.remoteUser}]]<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-th-href="@{/cars}">Account</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li >
                                    <a>
                                        <form data-th-action="@{/logout}" method="post">
                                            <input type="submit" value="Sign Out"/>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <div class="jumbotron well">
        <h1 align="center">
            Cars for sell
        </h1>
    </div>
    <form data-th-action="@{/order/add/{id}(id=${car.id})}" data-th-object="${car}" data-th-method="post">
    <div class="row clearfix" data-th-each="car : ${carsell}">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-6 column">
            <h2 data-th-text="'ID: ' + ${car.id}">
            </h2>
            <h2 data-th-text="'Car Type: ' + ${car.carType}">
            </h2>
            <p data-th-text="${car.description}">
            </p>
            <p data-th-text="'Price: $' + ${car.price}">
            </p>
            <p>
                <button type="submit" class="btn btn-default">Add to Cart</button>
            </p>
        </div>
        <div class="col-md-3 column">
        </div>
    </div>
    </form>

</div>
</body>
</html>

