<!DOCTYPE html>
<html>
    <head>
        <title>Manager Home</title>
    </head>
    <body>
    <h1>My Cars</h1>
    <h1>My Orders</h1>
    <hr />
    <h1 data-th-inline="text">Welcome! [[${#httpServletRequest.remoteUser}]]</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Brand</th>
                    <th>Car Type</th>
                </tr>                
                <tr data-th-each="car : ${cars}">
                    <td data-th-text="${car.id}"></td>
                    <td data-th-text="${car.title}"></td>
                    <td data-th-text="${car.carType}"></td>
                </tr>
            </table>
        </div>
        
        <hr /> 
		
        Add CAR<br />
        <form data-th-action="@{/cars/add}" name="addCarForm" method="post">
            Brand: <input type="text" name="title" /><br />
            Car Type:<br />
            <input type="radio" name="carType" value="SUV" checked="checked" /> SUV<br />
            <input type="radio" name="carType" value="Truck" /> Truck<br />
            <input type="radio" name="carType" value="Sports Car" /> Sports Car<br />
            <input type="radio" name="carType" value="Luxury Car" /> Luxury Car<br />
            <input type="submit" value="Add Car"/>
        </form>
        
        <hr />   
		
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>