<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Home</title>
</head>
	
    <body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-15 column">
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Pitt CarTrading</a>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li >
									<a data-th-href="@{/cars}">Sign in</a>
								</li>
								<li>
									<a data-th-href="@{/register}">Sign up</a>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Car Type<strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">SUV</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">Truck</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">Sports Car</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">Luxury Car</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">Others</a>
										</li>
									</ul>
								</li>
							</ul>
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control" />
								</div> <button type="submit" class="btn btn-default">Search</button>
							</form>
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">User<strong class="caret"></strong></a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">Acount</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a data-th-action="@{/logout}" method="post">Sign Out</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>

					</nav>
					<div class="jumbotron well">
						<h1 align="center">
							Welcome to Pitt CarTrading!
						</h1>
					</div>
					<div class="carousel slide" id="carousel-808107">
						<ol class="carousel-indicators">
							<li class="active" data-slide-to="0" data-target="#carousel-808107">
							</li>
							<li data-slide-to="1" data-target="#carousel-808107">
							</li>
							<li data-slide-to="2" data-target="#carousel-808107">
							</li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img src="../image/lexus_lx_570_fl_suv_front_view_110290_1920x1080.jpg" />
								<div class="carousel-caption">
									<h4>
										SUV
									</h4>
								</div>
							</div>
							<div class="item">
								<img src="/image/ford_raptor_truck_background_wallpaper.jpg" />
								<div class="carousel-caption">
									<h4>
										Truck
									</h4>
								</div>
							</div>
							<div class="item">
								<img src="http://static.srcdn.com/wp-content/uploads/Dark-Phoenix-X-Men-Marvel-Comics.jpg" />
								<div class="carousel-caption">
									<h4>
										Sports Car
									</h4>
								</div>
							</div>
						</div> <a class="left carousel-control" href="#carousel-808107" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-808107" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>

