<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Pitt CarsTrading</title>

		<script data-th-src="@{http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js}"></script>
		<script data-th-src="@{http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<link data-th-src="" href="@{http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css}" rel="stylesheet" />
		<link type="text/css" rel="stylesheet" data-th-src="@{/resources/css/sit-nav.css}" />
		<link type="text/css" rel="stylesheet" data-th-href="@{/resources/css/main-nav.css}" />

		<script data-th-src="@{http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js}"></script>
		<script data-th-src="@{http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<link data-th-href="@{http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet}" />
		<script data-th-src="@{http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js}"></script>
		<script data-th-src="@{http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<link data-th-href="@{http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.css}" rel="stylesheet" />
		<link rel="stylesheet" data-th-href="@{/resources/css/sort_nav.css}" />
		<script data-th-src="@{/resources/js/sort_nav.js}"></script>
		
		<style>
			.slide_middle{ margin-left: 360px;width: 600px;}
			.sort_left{width: 200px;float: left;}
		</style>
	</head>
	
    <body>
			<div id="head">
			<div id="site-nav" class="site-nav">
				<div class="container">
					<div class="group user-action J-user-action">
						<a class="item" data-th-href="@{/cars}">Login</a>
						<a class="item" data-th-href="@{/register">Register</a>
					</div>
				</div>
			</div>
			
			
			<div class="container">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<nav class="navbar navbar-default" role="navigation">
							<div class="navbar-header">
								<img title="fei fish" data-th-src="@{png/logo.jpeg}" style="float: left;width: 50px;height:50px ;" class="logo" />
								<a class="navbar-brand" href="">Pitt CarsTrading</a>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>