<!DOCTYPE html>
<html>

<style>
Table.GridOne {
 padding: 3px;
 margin: 0;
 background: lightyellow;
 border-collapse: collapse; 
 width:35%;
}
Table.GridOne Td { 
 padding:2px;
 border: 1px solid #ff9900;
 border-collapse: collapse;
}
</style>

    <head>
        <title>Register</title>
    </head>
    <body>
         <form data-th-action="@{/manager/add}" name="addPeople" method="post">
              <table cellpadding="0" cellspacing="0" border="1" class="GridOne">
                  <tr>
                           <td>First Name</td>
	                       <td><input type="text" name="firstName" /></td>
                  </tr>
                  <tr>	
	                       <td>Last Name</td> 
	                       <td><input type="text" name="lastName" /></td>
                  </tr>
                  <tr>
                           <td>Email</td>
	                       <td><input type="text" name="email" /></td>
                  </tr>
                  <tr>
                           <td colspan="2" align="center"><input type="submit" value="Register" /></td>
                  </tr>
              </table>
	     </form>
		 
           <hr />
  
         <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>                
                <tr data-th-each="manager : ${managers}">
                    <td data-th-test="${manager.id}"></td>
                    <td data-th-text="${manager.firstName}"></td>
                    <td data-th-text="${manager.lastName}"></td>
                    <td data-th-text="${manager.email}"></td>
                </tr>
            </table>
        </div>
   
</body>
</html>